%h2 Lesson 1 - Reading 1

%ul
  %li.p Buddhaṃ saraṇaṃ gacchāmi
  %li.t I go to the Buddha for refuge.
  %li.p dhammaṃ saraṇaṃ gacchāmi
  %li.t I go to the Dhamma for refuge.
  %li.p saṃghaṃ saraṇaṃ gacchāmi
  %li.t I go to the Sangha for refuge.

%ul
  %li.p Dutiyaṃ pi buddhaṃ saraṇaṃ gacchāmi
  %li.t For a second time, I go to the Buddha for refuge.
  %li.p dutiyaṃ pi dhammaṃ saraṇaṃ gacchāmi
  %li.t For a second time, I go to the Dhamma for refuge.
  %li.p dutiyaṃ pi saṃghaṃ saraṇaṃ gacchāmi
  %li.t For a second time, I go to the Sangha for refuge.

%ul
  %li.p Tatiyaṃ pi buddhaṃ saraṇaṃ gacchāmi
  %li.t For a third time, I go to the Buddha for refuge.
  %li.p tatiyaṃ pi dhammaṃ saraṇaṃ gacchāmi
  %li.t For a third time, I go to the Dhamma for refuge.
  %li.p tatiyaṃ pi saṃghaṃ saraṇaṃ gacchāmi
  %li.t For a third time, I go to the Sangha for refuge.
