%h2 Lesson 1 - Reading 2

%ul

  %li.p …Cittaṃ, bhikkhave, adantaṃ mahato anatthāya saṃvattatī ti.
  %li.t O' monks, the untamed mind leads to great misfortune."

  %li.p …cittaṃ, bhikkhave, dantaṃ mahato atthāya saṃvattatī ti.
  %li.t O' monks, the tamed mind leads to great fortune."

  %li.p …cittaṃ, bhikkhave, aguttaṃ mahato anatthāya saṃvattatī ti.
  %li.t O' monks, the unguarded mind leads to great misfortune."

  %li.p …cittaṃ, bhikkhave, guttaṃ mahato atthāya saṃvattatī ti.
  %li.t O' monks, the guarded mind leads to great fortune."

  %li.p …cittaṃ, bhikkhave, arakkhitaṃ mahato anatthāya saṃvattatī ti.
  %li.t O' monks, the unprotected mind leads to great misfortune."

  %li.p …cittaṃ, bhikkhave, rakkhitaṃ mahato atthāya saṃvattatī ti.
  %li.t O' monks, the protected mind leads to great fortune."

  %li.p …cittaṃ, bhikkhave, asaṃvutaṃ mahato anatthāya saṃvattatī ti.
  %li.t O' monks, the unrestrained mind leads to great misfortune."

  %li.p …cittaṃ, bhikkhave, saṃvutaṃ mahato atthāya saṃvattatī ti.
  %li.t O' monks, the restrained mind leads to great fortune."

%ul

  %li.p Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yaṃ evaṃ adantaṃ, aguttaṃ, arakkhitaṃ, asaṃvutaṃ, mahato anatthāya saṃvattatī yathayidaṃ, bhikkhave, cittaṃ.
  %li.t O' monks, I have not seen anything else that leads to great misfortune as the untamed, unguarded, unprotected, unrestrained mind.

  %li.p Cittaṃ, bhikkhave, adantaṃ, aguttaṃ, arakkhitaṃ, asaṃvutaṃ mahato anatthāya saṃvattatī ti.
  %li.t O' monks, the untamed, unguarded, unprotected, unrestrained mind leads to great misfortune."

