%h2 Lesson 1 - Reading 3

%ul

  %li.p …Micchādiṭṭhikassa, bhikkhave, anuppannā c'eva akusalā dhammā uppajjanti, uppannā ca akusalā dhammā vepullāya saṃvattantī ti.
  %li.t For one with wrong view, o' monks, unarisen, unwholesome states arise and arisen, unwholesome states expand.

%ul

  %li.p Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yena anuppannā vā kusalā dhammā n'uppajjanti, uppannā vā kusalā dhammā parihāyanti yathayidaṃ, bhikkhave, micchādiṭṭhi.
  %li.t O' monks, I do perceive even one other thing because of which unarisen, wholesome states do not arise or arisen, wholesome states decrease as this, o' monks, wrong view.

  %li.p Micchādiṭṭhikassa, bhikkhave, anuppannā c'eva kusalā dhammā n'uppajjanti, uppannā ca kusalā dhammā parihāyantī ti.
  %li.t For one with wrong view, o' monks, unarisen, wholesome states do not arise and arisen, wholesome states decrease."

%ul

  %li.p Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yena anuppannā vā akusalā dhammā n'uppajjanti, uppannā vā akusalā dhammā parihāyanti yathayidaṃ, bhikkhave, sammādiṭṭhi.
  %li.t O' monks, I do perceive even one other thing because of which unarisen, unwholesome states do not arise or arisen, unwholesome states decrease as this, o' monks, right view.

  %li.p Sammādiṭṭhikassa, bhikkhave, anuppannā c'eva akusalā dhammā n'uppajjanti, uppannā ca akusalā dhammā parihāyantī ti.
  %li.t For one of right view, o' monks, unarisen, unwholesome states do not arise and arisen, unwholesome states decrease."
