%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  sammosāya antaradhānāya saṃvattati yathayidaṃ, bhikkhave, pamādo.
%p.t ?
%p.p Pamādo, bhikkhave, saddhammassa sammosāya antaradhānāya saṃvattatī ti.
%p.t ?
%br
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  appamādo.
%p.t ?
%p.p
  Appamādo, bhikkhave, saddhammassa ṭhitiyā asammosāya anantaradhānāya
  saṃvattatī ti.
%p.t ?
%br
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  sammosāya antaradhānāya saṃvattati yathayidaṃ, bhikkhave, kosajjaṃ.
%p.t ?
%p.p
  Kosajjaṃ, bhikkhave, saddhammassa sammosāya antaradhānāya saṃvattatī ti.
%p.t ?
%br
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  viriyārambho.
%p.t ?
%p.p
  Viriyārambho, bhikkhave, saddhammassa ṭhitiyā asammosāya anantaradhānāya
  saṃvattatī ti.
%p.t ?
%br
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  anuyogo kusalānaṃ dhammānaṃ, ananuyogo akusalānaṃ dhammānaṃ.
%p.t ?
%p.p
  Anuyogo, bhikkhave, kusalānaṃ dhammānaṃ, saddhammassa ṭhitiyā asammosāya
  anantaradhānāya saṃvattatī ti.
%p.t ?
