%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  sammosāya antaradhānāya saṃvattati yathayidaṃ, bhikkhave, pamādo.
%p.t
  O' monks, I do not perceive even one other thing that leads to confusion and
  disappearance of the true Dhamma as negligence.
%p.p Pamādo, bhikkhave, saddhammassa sammosāya antaradhānāya saṃvattatī ti.
%p.t
  Negligence, o' monks, leads to the confusion and disappearance of the true
  Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  appamādo.
%p.t
  O' monks, I do not perceive even one other thing that leads to continuation,
  non-confusion and reappearance of the true Dhamma as diligence.
%p.p
  Appamādo, bhikkhave, saddhammassa ṭhitiyā asammosāya anantaradhānāya
  saṃvattatī ti.
%p.t
  Diligence, o' monks, leads to the continuation, non-confusion and
  reappearance of the true Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  sammosāya antaradhānāya saṃvattati yathayidaṃ, bhikkhave, kosajjaṃ.
%p.t
  O' monks, I do not perceive even one other thing that leads to confusion and
  disappearance of the true Dhamma as idleness.
%p.p
  Kosajjaṃ, bhikkhave, saddhammassa sammosāya antaradhānāya saṃvattatī ti.
%p.t
  Idleness, o' monks, leads to the confusion and disappearance of the true
  Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  viriyārambho.
%p.t
  O' monks, I do not perceive even one other thing that leads to continuation,
  non-confusion and reappearance of the true Dhamma as putting forth energy.
%p.p
  Viriyārambho, bhikkhave, saddhammassa ṭhitiyā asammosāya anantaradhānāya
  saṃvattatī ti.
%p.t
  Putting forth energy, o' monks, leads to the continuation, non-confusion
  and reappearance of the true Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  anuyogo kusalānaṃ dhammānaṃ, ananuyogo akusalānaṃ dhammānaṃ.
%p.t
  O' monks, I do not perceive even one other thing that leads to continuation,
  non-confusion and reappearance of the true Dhamma as practicing wholesome
  things and not practicing unwholesome things.
%p.p
  Anuyogo, bhikkhave, kusalānaṃ dhammānaṃ, saddhammassa ṭhitiyā asammosāya
  anantaradhānāya saṃvattatī ti.
%p.t
  Practicing wholesome things, O' monks, leads to the continuation,
  non-confusion and reappearance of the true Dhamma.
