%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthirūpaṃ.
%p.t ?
%p.p Itthirūpaṃ, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekasaddaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthisaddo.
%p.t ?
%p.p Itthisaddo, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekagandhaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthigandho.
%p.t ?
%p.p Itthigandho, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarasaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthiraso.
%p.t ?
%p.p Itthiraso, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekaphoṭṭhabbaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthiphoṭṭhabbaṃ.
%p.t ?
%p.p Itthiphoṭṭhabbaṃ, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarūpaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisarūpaṃ.
%p.t ?
%p.p Purisarūpaṃ, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekasaddaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisasaddo.
%p.t ?
%p.p Purisasaddo, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekagandhaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisagandho.
%p.t ?
%p.p Purisagandho, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarasaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisaraso.
%p.t ?
%p.p Purisaraso, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekaphoṭṭhabbaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisaphoṭṭhabbaṃ.
%p.t ?
%p.p Purisaphoṭṭhabbaṃ, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhati ti.
%p.t ?
