%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarūpaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthirūpaṃ.
%p.t
  O' monks, I do not perceive another single form that which a man's mind is
  overpowered and persists in as this, o' monks, the form of woman.
%p.p Itthirūpaṃ, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The form of a woman, o' monks, overpowers and persists in the mind of a man.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekasaddaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthisaddo.
%p.t
  O' monks, I do not perceive another single sound that which a man's mind is
  overpowered and persists in as this, o' monks, the sound of woman.
%p.p Itthisaddo, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The sound of a woman, o' monks, overpowers and persists in the mind of a
  man.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekagandhaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthigandho.
%p.t
  O' monks, I do not perceive another single smell that which a man's mind is
  overpowered and persists in as this, o' monks, the smell of woman.
%p.p Itthigandho, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The smell of a woman, o' monks, overpowers and persists in the mind of a
  man.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarasaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthiraso.
%p.t
  O' monks, I do not perceive another single taste that which a man's mind is
  overpowered and persists in as this, o' monks, the taste of woman.
%p.p Itthiraso, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The taste of a woman, o' monks, overpowers and persists in the mind of a
  man.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekaphoṭṭhabbaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthiphoṭṭhabbaṃ.
%p.t
  O' monks, I do not perceive another single touch that which a man's mind is
  overpowered and persists in as this, o' monks, the touch of woman.
%p.p Itthiphoṭṭhabbaṃ, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The touch of a woman, o' monks, overpowers and persists in the mind of a
  man.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarūpaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisarūpaṃ.
%p.t
  O' monks, I do not perceive another single form that which a woman's mind is
  overpowered and persists in as this, o' monks, the form of man.
%p.p Purisarūpaṃ, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The form of a man, o' monks, overpowers and persists in the mind of a woman.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekasaddaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisasaddo.
%p.t
  O' monks, I do not perceive another single sound that which a woman's mind
  is overpowered and persists in as this, o' monks, the sound of man.
%p.p Purisasaddo, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The sound of a man, o' monks, overpowers and persists in the mind of a
  woman.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekagandhaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisagandho.
%p.t
  O' monks, I do not perceive another single smell that which a woman's mind
  is overpowered and persists in as this, o' monks, the smell of man.
%p.p Purisagandho, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The smell of a man, o' monks, overpowers and persists in the mind of a
  woman.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarasaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisaraso.
%p.t
  O' monks, I do not perceive another single taste that which a woman's mind
  is overpowered and persists in as this, o' monks, the taste of woman.
%p.p Purisaraso, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The taste of a woman, o' monks, overpowers and persists in the mind of a
  woman.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekaphoṭṭhabbaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisaphoṭṭhabbaṃ.
%p.t
  O' monks, I do not perceive another single touch that which a woman's mind
  is overpowered and persists in as this, o' monks, the touch of man.
%p.p Purisaphoṭṭhabbaṃ, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The touch of a man, o' monks, overpowers and persists in the mind of a
  woman.
