.container
  .row-fluid
    %ul.thumbnails
      %li.span4
        %a{ href: 'abhayagiri-morning/' }
          .thumbnail
            %h3 Abhayagiri Morning Chanting (P캐拷을 and English)
      %li.span4
        %a{ href: 'abhayagiri-evening-pali/' }
          .thumbnail
            %h3 Abhayagiri Evening Chanting (P캐拷을)
      %li.span4
        %a{ href: 'abhayagiri-evening-en/' }
          .thumbnail
            %h3 Abhayagiri Evening Chanting (English)
