---
title: Dhamma Schtuff Home
---

.container

  .hero-unit
    %h1 Dhamma Schtuff
    %p Because "dhamma" is sometimes just "schtuff"…

  .row-fluid
    %ul.thumbnails
      %li.span6
        %a{ href: '/chanting/' }
          .thumbnail
            %h2 Chanting
            = image_tag 'chanting.jpg'
      %li.span6
        %a{ href: '/reading-pali/' }
          .thumbnail
            %h2 Reading Pāḷi Exercises
            = image_tag 'pali.jpg'
